body {
  margin: 0px;
}

canvas {
  background-image: url("https://4kwallpapers.com/images/wallpapers/lakeside-pink-sky-sunset-minimal-art-gradient-background-3840x1080-4584.png")
}

img {
  display: none;
}
